*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Rubik Mono One', sans-serif;
}

/* backround color */
.red{
    background-color: red;
    height: 100vh;
    position: relative;
}
.green{
    background-color: green;
    height: 100vh;
}
.yellow{
    background-color: yellow;
    height: 100vh;
}
/* colo text */
.txt-yellow{
    color: yellow;
}
.txt-green{
    color: green;
}
.shoes{
    overflow-y: hidden;
}
img{
    
}
.model{
    top: 70%;
    left: 50%;
    transform: translate(-50%,-50%);
    position: absolute;
    text-align: center;
    font-size: 35px;
    text-transform: uppercase;
}


