*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Rubik Mono One', sans-serif;
}
html{
    overflow-y: hidden;
}

/* backround color */
.red{
    background-color: red;
    height: 100vh;
    position: relative;
}
.green{
    background-color: green;
    height: 100vh;
    position: relative;
}
.yellow{
    background-color: yellow;
    height: 100vh;
    position: relative;
}
/* colo text */
.txt-yellow{
    color: yellow;
}
.txt-green{
    color: green;
}
.side-menu {
    z-index: 1;
    position: fixed;
    right: 5vh;
    top: 5vh;
    
}
ul{
    list-style-type: none;
    font-weight: bold;
} 
li{
    display: inline;
} 
.side-menu a{
    width: 40px;
    height: 40px;
    text-decoration: none;
    color: black;
    background-color: white;
    border-radius: 50%;
    margin: 10px;
    display: inline-block;
    text-align: center;
    line-height: 40px;
}
.shoes{
    overflow-y: hidden;
}
.model{
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    position: relative;
    text-align: center;
    font-size: 35px;
    text-transform: uppercase;
}
.shoes::{
    content: '';
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    position: absolute;
}


